---
layout: default
---

<main class="gallery-main">
    <h1>{{ page.title }}</h1>
    {% if page.description %}
      <p class="gallery-description">{{ page.description }}</p>
    {% endif %}

    {{ content }}

    {% assign gallery_data = site.data.galleries[page.data] %}
    <div class="gallery-photo-grid" id="image-gallery" data-pswp-gallery="main-gallery">
      {% for image in gallery_data.images %}
      {% assign image_path = gallery_data.path | append: image.name %}
      {% assign thumb_path = gallery_data.path | append: image.thumb %}

        <a href="{{ image_path | relative_url }}"
           data-pswp-width="{{ image.width }}"
           data-pswp-height="{{ image.height }}"
           target="_blank"
           class="gallery-photo">
          <img src="{{ thumb_path | relative_url}}"
               alt="{{ image.alt | escape }}"
               loading="lazy"/>
        </a>
      {% endfor %}
    </div>
</main>


<link rel="stylesheet" href="{{ '/assets/css/gallery.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/photoswipe.css' | relative_url }}">

<script type="module">
  import PhotoSwipeLightbox from '/assets/js/photoswipe/photoswipe-lightbox.esm.min.js';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#image-gallery',
    children: 'a',
    pswpModule: () => import('/assets/js/photoswipe/photoswipe.esm.min.js'),
  });
  lightbox.init();
</script>